<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>厦大通行码</title>



        <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    

    <link href="{{ buildStaticUrl('/css/style.css') }}" rel="stylesheet">

 
    <link href="{{ buildStaticUrl('/plugins/doublebox/doublebox-bootstrap.css') }}" rel="stylesheet">

    <style type="text/css">
        #map {
            width: 700px;
            height: 500px;
            text-align: center;
            margin: 0 auto;
        }

        /*取消百度地图logo*/
        .anchorBL {
            display: none;
        }

        .ue-container {
            width: 60%;
            margin: 0 auto;
        }

    </style>
<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="profile-element text-center">
                        <!-- <img alt="image" class="img-circle" src="{{ buildStaticUrl('/images/common/logo.png') }}"/> -->
                        <img alt="image" class="img-circle"
                             src="https://passport.xmu.edu.cn/static/images/common/logo.png"/>
                    </div>
                </li>

                <li class="index">
                    <a href="{{ buildUrl('/') }}"><i class="fa fa-bar-chart fa-lg"></i> <span
                            class="nav-label">流量统计</span></a>
                </li>
                <li class="venue">
                    <a href="{{ buildUrl('/venue/index') }}"><i class="fa fa-home fa-lg"></i> <span
                            class="nav-label">场所管理</span></a>
                </li>

            
                    <li class="user">
                        <a href="{{ buildUrl('/user/student') }}"><i class="fa fa-group fa-lg"></i> <span
                                class="nav-label">用户管理</span></a>
                    </li>
        

                <li class="track">
                    <a href="{{ buildUrl('/track/index') }}"><i class="fa fa-search fa-lg"></i> <span
                            class="nav-label">轨迹查询</span></a>
                </li>

            
                    <li class="trace">
                        <a href="{{ buildUrl('/trace/index') }}"><i class="fa fa-recycle fa-lg"></i> <span
                                class="nav-label">溯源管理</span></a>
                    </li>
           
           
                    <li class="business">
                        <a href="{{ buildUrl('/business/index') }}"><i class="fa fa-line-chart fa-lg"></i> <span
                                class="nav-label">运营统计</span></a>
                    </li>
          
            </ul>

        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg" style="background-color: #ffffff;">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div style="left: 40%;top: 20%;position: absolute;font-size: xx-large;font-weight: bolder;">
                    厦门大学通行码
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <div style="position: absolute;text-align:center;top:-5px;">
                            欢迎使用厦大通行码管理平台<br>
                            <!-- <div style="font-weight: bolder;font-size:20px;">v1.0</div> -->
                            <div style="font-size:20px;">v1.0</div>
                        </div>
                        <span class="m-r-sm text-muted welcome-message">
                            {#欢迎使用厦大通行码管理平台#}
                            {#强行填充#}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </li>
                    <li class="dropdown user_info">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                            <!--  <img alt="image" class="img-circle"
                                 src="{{ buildStaticUrl('/images/common/admin.png') }}"/> -->
                            <img alt="image" class="img-circle"
                                 src="https://passport.xmu.edu.cn/static/images/common/admin.png"/>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li>
                                <div class="dropdown-messages-box">
                                    单位：{{ current_user.dept }}
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    学工号：{{ current_user.no }}
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    姓名：{{ current_user.name }}
                                </div>
                            </li>
                            <li class="divider"></li>
                       
                                <li>
                                    <div class="dropdown-messages-box">
                                        权限：超级管理员
                                    </div>
                                </li>
                     
                                <li>
                                    <div class="dropdown-messages-box">
                                        权限：普通管理员
                                    </div>
                                </li>
                   


                            <li class="divider"></li>
                            <li>
                                <div class="link-block text-center">
                                    <a class="pull-right" href="{{ buildUrl('/admin/logout') }}">
                                        <i class="fa fa-sign-out"></i> 退出
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>

            </nav>
        </div>
        <div class="row  border-bottom">
            <div class="col-lg-12">
                <div class="tab_title">
                    <ul class="nav nav-pills">
                        <li class="current">
                            <a href="{{ buildUrl('/venue/index') }}">场所管理</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form class="form-inline wrap_search">
                    <div class="row  m-t p-w-m">
    
                        <div class="form-group">
                            <select class="form-control inline" id="status">
                                <option value="0" selected>
                                    请选择状态
                                </option>
                                <option value="1">
                                    启用
                                </option>
                                <option value="-1">
                                    禁用
                                </option>
                            </select>
                        </div>
    
                        <div class="form-group">
                            <input type="text" placeholder="请输入场所名称" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary search">
                                    <i class="fa fa-search"></i>搜索
                                </button>
                            </span>
                            </div>
                        </div>
                    </div>
                    <hr>
    
    
                    <div class="row">
    
                         <a class="btn btn-w-m btn-outline btn-primary pull-right"
                           style="margin-left: 10px;margin-right: 30px" id="batchOpAdminList">
                            批量上传管理员
                        </a>
                        
                        <a class="btn btn-w-m btn-outline btn-primary pull-right"
                           style="margin-left: 10px;margin-right: 0px" id="batchOpWhiteList">
                            批量上传白名单
                        </a>
    
                      
                            <a class="btn btn-w-m btn-outline btn-primary pull-right" id="addVenue">
                                <i class="fa fa-plus"></i>场所
                            </a>
           
                    </div>
    
    
                </form>
    
                <div style="height:420px;overflow: auto;">
                    <table class="table table-striped table-hover table-responsive m-t" id="venue_table">
                        <thead>
                        <tr>
                            <th style="width:5%">序号</th>
                            <th style="width:30%">场所</th>
                            <th style="width:10%">经度</th>
                            <th style="width:10%">纬度</th>
                            <th style="width:10%">状态</th>
                            <th style="width:15%">创建时间</th>
                            <th style="width:20%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
    
                        </tbody>
                    </table>
                </div>
                <!--显示分页信息 -->
                <div class="row" id='pagination'>
                    <div class="col-lg-12">
                        <span class="pagination_count"></span>
                        <ul class="pagination pagination-lg pull-right">
    
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
    
    
    
    
    
        <!--小程序码模态框 -->
        <div class="modal fade" id="wxCodeModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form class="form-horizontal" id="testPrint">
    
                            <div class="form-group">
                                <div class="text-center">
                                    <label class="control-label" id='venueName' style="font-size: 35px"></label>
                                </div>
                            </div>
    
                            <div class="form-group">
                                <img id='WXcode' class="img-responsive center-block"></img>
                            </div>
    
                            <div class="form-group">
                                <div class="text-center">
                                    <label class="control-label" style="font-size: 30px">厦门大学通行码</label>
                                </div>
                            </div>
    
                        </form>
                    </div><!-- data-dismiss="modal" -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="wxCodeSave()">保存</button>
                        <button type="button" class="btn btn-primary" onclick="wxCodePrint()" id="wxCodePrint">打印</button>
                    </div>
                </div>
            </div>
        </div>
    
    
        <!-- 流量统计模态框 -->
        <div class="modal fade" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg"><!-- background: transparent background-color:rgb(0,0,0);-->
                <div class="modal-content" style="width:1000px;">
                    <div class="modal-body" style="width:1000px;">
                        <div id="chart" style="width:940px;height:700px;">
                            <!-- <div id="chart" style="width:940px;height:700px;"> -->
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
        <!--编辑场所模态框 -->
        <div class="modal fade" id="VenueModal" tabindex="-1" role="dialog">
            <!-- <div class="modal-dialog" role="document" style="width: 800px;height: 500px"> -->
            <div class="modal-dialog" role="document" style="width: 50%;height: 50%">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">场所名称:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" placeholder="请输入场所名称" id="venue_name">
                                </div>
                            </div>
                            <!-- <div class="hr-line-dashed"></div> -->
                            <div class="form-group">
                                <label class="col-lg-2 control-label">授权类型:</label>
                                <div class="col-lg-9">
                                    <select class="form-control inline" id="permissionType">
                                        <option value="1" selected>
                                            根据白名单授权
                                        </option>
                                        <option value="2">
                                            对全体教职工开放
                                        </option>
                                        <option value="3">
                                            对全体学生开放
                                        </option>
                                        <option value="4">
                                            对所有人开放
                                        </option>
                                    </select>
                                </div>
                            </div>
    
                            <div class="form-group" style="margin-top: 30px;">
                                <div id="map"></div>
                                <input id="id_lon" type="hidden" value="">
                                <input id="id_lat" type="hidden" value="">
                            </div>
    
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-w-m btn-outline btn-primary" id="saveVenue">保存</button>
                        <button class="btn btn-w-m btn-outline btn-default" data-dismiss="modal">关闭</button>
                        <input id="id_id" type="hidden" value="">
                    </div>
                </div>
            </div>
        </div>
    
    
    
    
        <!--白名单版本管理模态框 -->
        <div class="modal fade" id="WhiteListManageModal" role="dialog">
            <div class="modal-dialog" role="document" style="width: 55%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="id_venue_name_whitelist"></h4>
                    </div>
    
                    <div class="modal-body">
    
                        <div class="row">
                            <div class="form-group">
                                <form class="upload_whitelist_wrap">
                                    <label class="btn btn-w-m btn-outline btn-primary pull-right" style="margin-left: 10px;margin-right: 30px" id="btn_whitelist">
                                        <i class="fa fa-arrow-up"></i>上传白名单
                                    </label>
    
                                    <input type="file" accept=".txt" style="display:none" id="whitelistFile">
                                    <input type="hidden" id="add_tag_name" value="">
                                </form>
                            </div>
                        </div>
    
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active">
    
                                    <!-- <div class="tag-wrap w">
                                        <div class="panel">
                                            <div class="panel-body tag-list" id="id_tag-list">
    
                                            </div>
                                        </div>
                                    </div> -->
                                    <table class="table table-striped table-hover table-responsive m-t" id="id_tag-list">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>批次名称</th>
                                            <th>记录数</th>
                                            <th>状态</th>
                                            <th>创建时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
    
                                        </tbody>
                                    </table>
    
                                </div>
                            </div>
                        </div>
                    </div>
    
    
                    <div class="modal-footer">
                        <button class="btn btn-w-m btn-outline btn-default" data-dismiss="modal">关闭</button>
                    </div>
                    <div style="display: none" id="name_whitelist_id" value=""></div>
                </div>
            </div>
        </div>
    
        <!--白名单模态框 -->
        <div class="modal fade" id="WhiteListModal" role="dialog">
            <div class="modal-dialog" role="document" style="width: 80%;">
                <div class="modal-content">
                    <!-- <div class="modal-header">
                        <h4 class="modal-title" id="id_tag_venue_name_whitelist"></h4>
                    </div> -->
                    <div class="modal-body">
    
                        <form class="form-inline wrap_whitelist_search">
                            <div class="row  m-t p-w-m">
    
                                <div class="form-group">
                                    <input type="text" placeholder="请输入单位" class="form-control" id="id_dept">
                                </div>
    
                                <div class="form-group">
                                    <input type="text" placeholder="请输入学工号" class="form-control" id="id_no">
                                </div>
    
                                <div class="form-group">
                                    <input type="text" placeholder="请输入姓名" class="form-control" id="id_name">
                                </div>
    
                                <div class="form-group">
                                    <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary search">
                                            <i class="fa fa-search"></i>搜索
                                        </button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </form>
    
                        <div class="row">
                            <div class="form-group">
                                <div style="display: none" id="whitelist_venue_id" value=""></div>
                                <div style="display: none" id="whitelist_tag_id" value=""></div>
    
                                <a class="btn btn-w-m btn-outline btn-primary pull-right" style="margin-right: 30px" id="addWhiteNo">
                                    <i class="fa fa-plus"></i>学工号
                                </a>
                            </div>
                        </div>
    
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-1">
                                    <div style="height:420px;overflow: auto;">
                                        <table class="table table-striped table-hover table-responsive m-t"
                                               id="whitelist_table">
                                            <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>单位</th>
                                                <th>学工号</th>
                                                <th>姓名</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
    
                                            </tbody>
                                        </table>
                                    </div>
    
                                    <!--显示分页信息 -->
                                    <div class="row" id='pagination_whitelist'>
                                        <div class="col-lg-12">
                                            <span class="pagination_count"></span>
                                            <ul class="pagination pagination-lg pull-right">
    
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button class="btn btn-w-m btn-outline btn-primary" id="saveVenue">保存</button> -->
                        <button class="btn btn-w-m btn-outline btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    
    
    
    
    
    
    
        <!--场所管理员模态框 -->
        <div class="modal fade" id="AdminListModal" role="dialog">
            <div class="modal-dialog" role="document" style="width: 80%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="id_venue_name_adminlist"></h4>
                    </div>
                    <div class="modal-body">
    
                        <form class="form-inline wrap_adminlist_search">
                            <div class="row  m-t p-w-m">
    
                                <div class="form-group">
                                    <input type="text" placeholder="请输入单位" class="form-control" id="id_admin_dept">
                                </div>
    
                                <div class="form-group">
                                    <input type="text" placeholder="请输入学工号" class="form-control" id="id_admin_no">
                                </div>
    
                                <div class="form-group">
                                    <input type="text" placeholder="请输入姓名" class="form-control" id="id_admin_name">
                                </div>
    
                                <div class="form-group">
                                    <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary search">
                                            <i class="fa fa-search"></i>搜索
                                        </button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </form>
    
                        <div class="row">
                            <div class="form-group">
    
                                <form class="upload_adminlist_wrap">
                                    <!-- <label for="adminlistFile" class="btn btn-w-m btn-outline btn-primary pull-right" style="margin-left: 10px;margin-right: 30px">
                                        <i class="fa fa-arrow-up"></i>上传管理员名单(覆盖操作)
                                    </label> -->
                                    <label class="btn btn-w-m btn-outline btn-primary pull-right"
                                           style="margin-left: 10px;margin-right: 30px" id="btn_adminlist">
                                        <i class="fa fa-arrow-up"></i>上传管理员名单(覆盖操作)
                                    </label>
    
                                    <input type="file" accept=".txt" style="display:none" id="adminlistFile">
                                    <input type="hidden" id="name_adminlist_id" value="">
                                </form>
    
                                <a class="btn btn-w-m btn-outline btn-primary pull-right" id="addAdminNo">
                                    <i class="fa fa-plus"></i>学工号
                                </a>
                            </div>
                        </div>
    
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-1">
                                    <div style="height:420px;overflow: auto;">
                                        <table class="table table-striped table-hover table-responsive m-t"
                                               id="adminlist_table">
                                            <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>单位</th>
                                                <th>学工号</th>
                                                <th>姓名</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
    
                                            </tbody>
                                        </table>
                                    </div>
    
                                    <!--显示分页信息 -->
                                    <div class="row" id='pagination_adminlist'>
                                        <div class="col-lg-12">
                                            <span class="pagination_count"></span>
                                            <ul class="pagination pagination-lg pull-right">
    
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <button class="btn btn-w-m btn-outline btn-primary" id="saveVenue">保存</button> -->
                        <button class="btn btn-w-m btn-outline btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    
    
    
    
    
        <!--批量上传白名单模态框 -->
        <div class="modal fade" id="BatchWhiteListModal" role="dialog">
            <div class="modal-dialog" role="document" style="width: 80%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">批量上传白名单</h4>
                    </div>
                    <div class="modal-body">
    
                        <div class="ue-container">
                            <select multiple="multiple" size="10" name="doublebox" class="demo">
                            </select>
                        </div>
    
                        <div class="hr-line-dashed" style="margin-top: 30px"></div>
    
                        <form class="form-inline wrap_batch_whitelist_search" style="margin-top: 30px">
                            <div class="row  m-t p-w-m">
    
                                <div class="form-group">
                                    <input type="text" placeholder="请输入单位" class="form-control" id="batch_id_dept">
                                </div>
    
                                <div class="form-group">
                                    <input type="text" placeholder="请输入学工号" class="form-control" id="batch_id_no">
                                </div>
    
                                <div class="form-group">
                                    <input type="text" placeholder="请输入姓名" class="form-control" id="batch_id_name">
                                </div>
    
                                <div class="form-group">
                                    <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary search">
                                            <i class="fa fa-search"></i>搜索
                                        </button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </form>
    
                        <div class="row">
                            <div class="form-group">
                                <form class="upload_batch_whitelist_wrap">
                                    <!-- <label for="batch_whitelistFile" class="btn btn-w-m btn-outline btn-primary pull-right" style="margin-left: 10px;margin-right: 30px" id="btn_uploadWhitelist">
                                        <i class="fa fa-arrow-up"></i>上传白名单(覆盖操作)
                                    </label>
                                    <input type="file" accept=".txt" style="display:none" id="batch_whitelistFile"> -->
                                    <label class="btn btn-w-m btn-outline btn-primary pull-right"
                                           style="margin-left: 10px;margin-right: 30px" id="btn_uploadWhitelist">
                                        <i class="fa fa-arrow-up"></i>上传白名单
                                    </label>
                                    <input type="file" accept=".txt" style="display:none" id="batch_whitelistFile">
                                    <input type="hidden" id="name_batch_whitelist_id" value="">
                                    <input type="hidden" id="add_batch_tag_name" value="">
                                    <input type="hidden" id="batch_whitelist_tag_id" value="">
                                </form>
                            </div>
                        </div>
    
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-1">
                                    <table class="table table-striped table-hover table-responsive m-t"
                                           id="batch_whitelist_table">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>单位</th>
                                            <th>学工号</th>
                                            <th>姓名</th>
                                        </tr>
                                        </thead>
                                        <tbody>
    
                                        </tbody>
                                    </table>
    
                                    <!--显示分页信息 -->
                                    <div class="row" id='pagination_batch_whitelist'>
                                        <div class="col-lg-12">
                                            <span class="pagination_count"></span>
                                            <ul class="pagination pagination-lg pull-right" id='batch_whitelist_table_page'>
    
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
    
                    </div>
                    <div class="modal-footer">
                        <!-- <button class="btn btn-w-m btn-outline btn-primary" id="saveVenue">保存</button> -->
                        <button class="btn btn-w-m btn-outline btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    
    
     <!--批量上传管理员模态框 -->
        <div class="modal fade" id="BatchAdminListModal" role="dialog">
            <div class="modal-dialog" role="document" style="width: 80%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">批量上传管理员</h4>
                    </div>
                    <div class="modal-body">
    
                        <div class="ue-container">
                            <select multiple="multiple" size="10" name="doublebox2" class="demo2">
                            </select>
                        </div>
    
                        <div class="hr-line-dashed" style="margin-top: 30px"></div>
    
                        <form class="form-inline wrap_batch_adminlist_search" style="margin-top: 30px">
                            <div class="row  m-t p-w-m">
    
                                <div class="form-group">
                                    <input type="text" placeholder="请输入单位" class="form-control" id="batch_id_dept">
                                </div>
    
                                <div class="form-group">
                                    <input type="text" placeholder="请输入学工号" class="form-control" id="batch_id_no">
                                </div>
    
                                <div class="form-group">
                                    <input type="text" placeholder="请输入姓名" class="form-control" id="batch_id_name">
                                </div>
    
                                <div class="form-group">
                                    <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary search">
                                            <i class="fa fa-search"></i>搜索
                                        </button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </form>
    
                        <div class="row">
                            <div class="form-group">
                                <form class="upload_batch_adminlist_wrap">
                                    <!-- <label for="batch_whitelistFile" class="btn btn-w-m btn-outline btn-primary pull-right" style="margin-left: 10px;margin-right: 30px" id="btn_uploadWhitelist">
                                        <i class="fa fa-arrow-up"></i>上传白名单(覆盖操作)
                                    </label>
                                    <input type="file" accept=".txt" style="display:none" id="batch_whitelistFile"> -->
                                    <label class="btn btn-w-m btn-outline btn-primary pull-right"
                                           style="margin-left: 10px;margin-right: 30px" id="btn_uploadAdminlist">
                                        <i class="fa fa-arrow-up"></i>上传管理员
                                    </label>
                                    <input type="file" accept=".txt" style="display:none" id="batch_adminlistFile">
                                    <input type="hidden" id="name_batch_adminlist_id" value="">
                                    <input type="hidden" id="add_batch_tag_name" value="">
                                    <input type="hidden" id="batch_adminlist_tag_id" value="">
                                </form>
                            </div>
                        </div>
    
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-1">
                                    <table class="table table-striped table-hover table-responsive m-t"
                                           id="batch_adminlist_table">
                                        <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>单位</th>
                                            <th>学工号</th>
                                            <th>姓名</th>
                                        </tr>
                                        </thead>
                                        <tbody>
    
                                        </tbody>
                                    </table>
    
                                    <!--显示分页信息 -->
                                    <div class="row" id='pagination_batch_adminlist'>
                                        <div class="col-lg-12">
                                            <span class="pagination_count"></span>
                                            <ul class="pagination pagination-lg pull-right" id='batch_adminlist_table_page'>
    
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
    
                    </div>
                    <div class="modal-footer">
                        <!-- <button class="btn btn-w-m btn-outline btn-primary" id="saveVenue">保存</button> -->
                        <button class="btn btn-w-m btn-outline btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- loading模态框 -->
        <div class="modal fade" id="loading" data-backdrop="static" keyboard="false">
            　　
            <div style="z-index: 99999; position: absolute; text-align: center; left: 50%; top: 50%">
                <img src="{{ buildStaticUrl('/images/common/loading.gif') }}">
                　　
            </div>
        </div>
    
    </div>
</div>
<div class="hidden hidden_layout_wrap">
    <input name="domain" value="{{ config.APP.domain }}">
    <input name="prefix_url" value="{{ config.UPLOAD.prefix_url }}">
</div>



    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="{{ buildStaticUrl('/plugins/layer/layer.js') }}"></script>
<script src="{{ buildStaticUrl('/js/common.js') }}"></script>




<script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.7.0/echarts-en.common.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/printThis/1.12.2/printThis.min.js"></script>



<script src="{{ buildStaticUrl('/js/venue/index.js') }}"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/html2canvas/0.5.0-beta4/html2canvas.js"></script>
<script type="text/javascript"
    src="https://api.map.baidu.com/api?v=2.0&ak=D7f130ce4be999b80a56cfd12ab06a7a"></script>
<script src="{{ buildStaticUrl('/plugins/doublebox/doublebox-bootstrap.js') }}"></script>
</body>
</html>


