
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>厦大通行码</title>



        <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
   

    <link href="{{ buildStaticUrl('/css/style.css') }}" rel="stylesheet">

<body>


    <div id="page-wrapper" class="gray-bg" style="background-color: #ffffff;">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div style="left: 40%;top: 20%;position: absolute;font-size: xx-large;font-weight: bolder;">
                    厦门大学通行码
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <div style="position: absolute;text-align:center;top:-5px;">
                            欢迎使用厦大通行码管理平台<br>
                            <!-- <div style="font-weight: bolder;font-size:20px;">v1.0</div> -->
                            <div style="font-size:20px;">v1.0</div>
                        </div>
                        <span class="m-r-sm text-muted welcome-message">
                            {#欢迎使用厦大通行码管理平台#}
                            {#强行填充#}
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </li>
                    <li class="dropdown user_info">
                       
                        <ul class="dropdown-menu dropdown-messages">
                            <li>
                                <div class="dropdown-messages-box">
                                    单位：{{ current_user.dept }}
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    学工号：{{ current_user.no }}
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="dropdown-messages-box">
                                    姓名：{{ current_user.name }}
                                </div>
                            </li>
                            <li class="divider"></li>
                     
                                <li>
                                    <div class="dropdown-messages-box">
                                        权限：超级管理员
                                    </div>
                                </li>
                      
                                <li>
                                    <div class="dropdown-messages-box">
                                        权限：普通管理员
                                    </div>
                                </li>
                       


                            <li class="divider"></li>
                            <li>
                                <div class="link-block text-center">
                                    <a class="pull-right" href="{{ buildUrl('/admin/logout') }}">
                                        <i class="fa fa-sign-out"></i> 退出
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>

            </nav>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>打开次数 <small>打开小程序的总次数，用户从打开小程序到主动关闭或超时退出小程序的过程，计为一次</small></h5>
                        </div>
                        <div class="ibox-content" style="position: relative">
                            <div id="open-count-chart" style="width:100%;height:250px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>访问人数 <small>访问小程序页面的总用户数，同一用户多次访问不重复计</small></h5>
                        </div>
                        <div class="ibox-content">
                            <div id="visit-people-count-chart" style="width:100%;height:250px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>人均停留时长 <small>平均每个用户停留在小程序页面的总时长（秒），即总停留时长/访问人数
                            </small></h5>
                        </div>
                        <div class="ibox-content">
                            <div id="people-stay-time-chart" style="width:100%;height:250px;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>次均停留时长 <small>平均每次打开小程序停留在小程序页面的总时长（秒），即总停留时长/打开次数</small></h5>
                        </div>
                        <div class="ibox-content">
                            <div id="count-stay-time-chart" style="width:100%;height:250px;"></div>
                        </div>
                    </div>
                </div>
            </div>
    <!--         <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Simple one line Example </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div id="morris-one-line-chart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Simple one line Example </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div id="morris-one-line-chart2"></div>
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Simple one line Example </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div id="morris-one-line-chart"></div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    
        
    </div>
</div>
<div class="hidden hidden_layout_wrap">
    <input name="domain" value="{{ config.APP.domain }}">
    <input name="prefix_url" value="{{ config.UPLOAD.prefix_url }}">
</div>




    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="{{ buildStaticUrl('/plugins/jquery-2.1.1.js') }}"></script>
    <script src="{{ buildStaticUrl('/bootstrap/bootstrap.min.js') }}"></script>


<script src="{{ buildStaticUrl('/plugins/layer/layer.js') }}"></script>
<script src="{{ buildStaticUrl('/js/common.js') }}"></script>


<script src="{{ buildStaticUrl('/js/business/index.js') }}"></script>


    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.7.0/echarts-en.common.min.js"></script>

    <script src="{{ buildStaticUrl('/plugins/echarts.min.js') }}"></script>


</body>
</html>

